[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
pillow = "*"
django-extensions = "*"

[dev-packages]
black = "==18.9b0"
pylint = "*"
pylint-django = "*"
prospector = "*"

[requires]
python_version = "3.7"
