[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
pillow = "*"
django-extensions = "*"
werkzeug = "*"
psycopg2-binary = "*"
django-intercooler-helpers = "*"

[dev-packages]
prospector = "*"
yapf = "*"

[requires]
python_version = "3.7"
