{% extends "base_layout.html" %}

{% block page %}
<div class="timeline" data-controller="timeline" data-timeline-total="{{ total }}" data-timeline-offset="{{ posts.count }}" data-timeline-limit="{{ posts.count }}" data-timeline-start-date="{{ start_date_str }}">
  <h1 class="f1 lh-title">Timeline</h1>
  <div class="flex flex-wrap">
    <div class="w-100 w-75-ns">
      <div id="posts">
        {% block content %}{% endblock %}     
      </div>      
    </div>
    <div class="w-100 w-25-ns pl4-ns">
      {% block sidebar %}{% endblock %}      
    </div>
  </div>
  <!-- <div id="photo-modal" class="modal">
    <div class="modal-background" data-action="click->timeline#hideImage"></div>
    <div class="modal-content">
      <p class="image">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
      </p>
    </div>
    <button class="modal-close is-large" aria-label="close" data-action="timeline#hideImage"></button>
  </div> -->
</div>
{% endblock %}
