{% extends request.is_intercooler|yesno:"timeline/base_ic.html,timeline/base.html" %}

{% block content %}
  {% for post in posts %}
    <div class="ba b--black-20 br3 mb4">
      <div>
        <div class="f4 lh-title bg-near-white pa2">{{ post.posted_at | date:"F j, Y" }}
        {% if post.title %}
          - {{ post.title }} 
        {% endif %}
        </div>
        {% if post.body %}
          <div class="lh-copy bt b--black-20 ph3 pv1">{{ post.body | linebreaks }}</div> 
        {% endif %}
        
        {% for photo in post.photo_set.all %}
          <figure>
            <img src="{{ photo.image.url }}" alt="{{ photo.caption }}" data-action="click->timeline#showImage" data-image-url="{{ photo.image.url }}" />
            {% if photo.caption %}                  
              <figcaption>{{ photo.caption }}</figcaption>
            {% endif %}
          </figure>
        {% endfor %}              
      </div>
    </div>
  {% endfor %}

  <a href="{% url "timeline" %}?{{ load_more_query }}" ic-get-from="{% url "timeline" %}?{{ load_more_query }}" ic-replace-target="true">Load more</a>  

{% endblock %}

{% block sidebar %}
  <ul class="list pl0">
    {% for year, months in months_by_year %}
      <li>
        <span class="f4 b">{{ year }}</span>
        <ul class="list pl0 mb4">
          {% for month in months %}
            <li>
              <a href="{% url 'timeline' %}?start={{ month|date:"Y-m-d"}}">
                {{ month|date:"F" }}
              </a>
            </li>
          {% endfor %}              
        </ul>
      </li>
    {% endfor %}        
  </ul>
{% endblock %}
