{% extends "base_layout.html" %}

{% block page %}
<div class="timeline" data-controller="timeline" data-timeline-total="{{ total }}" data-timeline-offset="{{ posts.count }}" data-timeline-limit="{{ posts.count }}" data-timeline-start-date="{{ start_date_str }}">
  <h1 class="title">Timeline</h1>
  <div class="columns">
    <div class="column is-three-quarters">
      <div id="posts">
        {% block content %}{% endblock %}     
      </div>
      <button class="button is-primary" id="load-more" data-action="timeline#loadMore">Load more</button>
    </div>
    <div class="column is-one-quarter">
      {% block sidebar %}{% endblock %}      
    </div>
  </div>
</div>
{% endblock %}
