{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CAM{% endblock %}</title>        
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'timeline.css' %}">
    <script src="{% static "stimulus/dist/stimulus.umd.js" %}" defer></script>
    <script src="{% static "superagent/superagent.js" %}" defer></script>
    <script src="{% static "timeline.js" %}" defer></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      {% block page %}{% endblock %}
    </div>
  </section>
  </body>
</html>
